.text_hr_vp_footer {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }

  
  .img_lg_footer {

    width: 15%; 
    margin-right: 1%
  }

  .footer{ 
    background-color: #1a1a1a;
    border-color: #ddd;
    margin: 0 auto;
 
    text-transform: uppercase;
    margin-bottom: 1%;
    width: 85%;
    height: 30%;
    color: #fff;
  
  
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
   
   
    
}

.column {
  margin-left: 5%;
  width: 20%;
    
}

.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
}

.column a {
    color: #fff;
    
  
    transition: color 0.3s ease;
}

.column a:hover {
    color: #ccc;
}


@media only screen and (max-width: 1100px) {
  .footer {
    background-color: #1a1a1a;
    border-color: #ddd;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 1%;
    width: 85%;
    height: auto; /* Изменяем высоту на auto, чтобы высота определялась содержимым */
    color: #fff;
    display: flex; /* Добавляем flex для центрирования */
    flex-direction: column; /* Выстраиваем элементы в столбик */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.text_hr_vp_footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем по горизонтали */
    width: 100%; /* Устанавливаем ширину на 100% */
}

.img_lg_footer {
    width: 15%;
    margin-right: 1%;
}

.column {
  margin-left: 0%;
  width: 20%;
  display: inline-block;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в столбик */

}


.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
}

}